.header__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 91px;
    padding-top: 14px;
    padding-left: 98px;
    padding-right: 98px;
    background-color: $background-header-footer;
}

.header__logo {
    padding: 27px 0 35px;
}

.header__nav {
    width: 615px;
    margin-left: 60px;
    margin-right: auto;
}