$basic-black: #1F1E25;
$background-header-footer: #F6F7FF;
$light-grey: #E0E1EA;
$button-credit-white: #F6F7FF;
$blue: #2C36F2;
$classic-black: #000000;
$grey-separator: #C1C2CA;
$black-transparent: rgba(0, 0, 0, 0.25);
$dark-grey: #707C87;

/* fonts */
$font-basic: "Roboto", "Arial", serif;
