// $basic-white: #FFFFFF;
// $basic-green: #45852D;
// $card-background-grey: #F8F8F8;
// $independent-color: #006F79;
// $support-color: #EC6608;
// $filter-input-border: #D8D8D8;
// $tablet-width: 768px;
// $desktop-width: 1280px;
// $mobile-width-only: 767px;
$basic-black: #1F1E25;
$background-header-footer: #F6F7FF;
$light-grey: #E0E1EA;
$button-credit-white: #F6F7FF;
$blue: #2C36F2;
$classic-black: #000000;

/* fonts */
$font-basic: "Roboto", "Arial", serif;
