.credit {
    background-color: $blue;
    background-image: url(../img/background-main.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    z-index: 2;

    &::after, &::before {
        // box-sizing: border-box;
        content: "";
        position: absolute;
        width: 289px;
        height: 228px;
        background-repeat: no-repeat;
        // background-size: 100% auto;
        background-position: top center;
        border-radius: 4px;
    }
    &::after {
        background-image: url(../img/black-card.png);
        z-index: 99;
        top: 138px;
        left: 721px; 
    }
    &::before {
        background-image: url(../img/white-card.png);
        z-index: 10;
        top: 80px;
        left: 830px; 
    }
}
.credit__container {
    padding-top: 102px;
    padding-bottom: 116px;
    padding-left: 268px;
}

.credit__title {
    font-size: 54px;
    line-height: 63px;
    color: $background-header-footer;
    margin-bottom: 5px;
}

.credit__description {
    color: $light-grey;
    font-size: 22px;
    line-height: 26px;
    display: block;
    margin-bottom: 37px;
}