.footer {
    background-color: $background-header-footer;
}
.footer__wrapper {
    padding: 57px 98px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__info {
    width: 255px;
}