.form-convertor__wrapper {
    display: flex;
    justify-content: space-between;
    // position: relative;
   
    &--process {
        position: relative;
        &::after, &::before {
            content: "";
            background-image: url(../img/arrow-left-direction.svg);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            width: 53px;
            height: 18px;
            left: 50%;
        }
        &::after {
            background-image: url(../img/arrow-left-direction.svg);
            top: 66px;
            transform: translateX(-50%);
        }
        &::before {
            background-image: url(../img/arrow-right-direction.svg);
            top: 82px;
            transform: translateX(-38%);
        }

    }
    &--saving {
        margin-top: 85px;
    }
}
.form-convertor__from, .form-convertor__to {
    display: flex;
}
.form-convertor__input, .form-convertor__select {
    display: inline-block; 
    width: 390px;
    text-align: center;
    border: 1px solid $basic-black;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px; 
    color: $classic-black;
    &::placeholder {
        font-weight: 500;
        font-size: 24px;
        line-height: 34px; 
        color: $classic-black;   
    }
}
.form-convertor__input {
    &--calendar {
        text-align: left;
        padding-left: 117px;
    }
}
.form-convertor__label {
    display: block; 
    color: $basic-black;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    &--calendar {
        margin-bottom: 0;
    }
}
.form-convertor__selection {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        background-image: url(../img/arrow-select.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 8px;
        bottom: 26px;
        right: 17px;
        z-index: 99;
        // top: 50%;
        // transform: translateY(-50%);
    }
}
.form-convertor__select {
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    margin-top: 30px;
    -webkit-appearance: none; 
    width: 120px;
    padding: 9px;
    padding-left: 14px;
    // text-align: center;
    // text-align-last: center;
    // -moz-text-align-last: center;
    // -webkit-text-align-last: center;
    margin-left: 15px;
}