.history {
    padding: 40px 70px;
    margin-top: 100px;
    background-color: $background-header-footer;
    border-radius: 0px 4px 4px 4px;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 21%;
        left: 50%;
        height: 61%;
        width: 0px;
        border: 1px solid $grey-separator;
        box-shadow: 0px 4px 4px $black-transparent;
        transform: translateX(-50%);
    }
}
.history__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 51px;
}

.history__list-container {
    display: flex;
    justify-content: space-between;
}
.history__list {
    width: 392px;
}
.history__item {
    margin-bottom: 28px;
    &:last-child {
        margin-bottom: 0;
    }
}
.history__wrapper {
    display: flex;
    position: relative;
    span {
        display: block;
    }
    &::after {
        content: "";
            background-image: url(../img/arrow-currency-history.svg);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            width: 53px;
            height: 18px;
            top: 50%;
            transform: translateY(-50%);
            left: 218px;
    }
}
.history__to {
    width: 91px;
}
.history__from {
    width: 91px;
    margin-left: 40px;
    margin-right: auto;
}
.history__to {
    width: 117px;
}